body{
    margin: 0 15%;
    font-family: sans-serif;
}

#description{
    margin: 1em 0;
}

#controls{
    margin: 0.5em 0;
    padding: 0.5em;
    border: 1px solid #E7E7E7;
}

#map {
    background-color: #e7e7e7;
}

#nav{
    width: 100%;
    text-align: center
}

#perioddiv{
    margin: 1em 0;
}


#count{
    margin: 0 1em
}

.notifier{
    position: absolute;
    top: 0;
    margin: 0;
    padding: 5px;
    text-align: center;
    z-index: 1000;
    display:none;
}

#message {
    width: 200px;
    background-color: #fecaca;
}

#loading {
    width: 100px;
    background-color: #f9feb5;
}

.popup {
    height: 230px;
    width: 500px;
    clear: both;
    padding-top: 1em;
}

.popup div{
    margin: 5px 0;
}

.popup .img{
    margin-top: 1em;
}

.popup .title{
    font-weight: bold
}

.popup .notitle{
    font-style: italic;
    font-size: small;
}
.popup .description{
    font-size: small;
    font-style: italic;
    margin-top: 30px
}


/* OpenLayers classes */

.olPopupCloseBox  {
    background: url("../img/close.png") no-repeat scroll 0 0 transparent !important;
}

.olControlAttribution{
    bottom: 0.5em !important;
}

/* jQuery UI */
.ui-widget {
    font-family: sans-serif;
    font-size: 1em;
}
.ui-widget a{
    color: blue
}
